<% if admin_user? %>
  <%= render 'admin_view' %> 
<% elsif logged_in? %>
  <%= render 'user_view' %>
<% else %>
  <h1>勤怠管理システム</h1>
  <div class="text-center mt-3" >
    <%= link_to "ログイン", login_path, class: 'btn btn-primary' %>
  </div>
<% end %>



