@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

.display-4{
  font-size: x-large;
  margin-bottom: 1em;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}

/* 打刻ページ */

.time-stamp .stamp-comment{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;

}

.start-field{
  width: 40%;
  height: 2em !important;
}

.start-btn{
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-field{
  width: 40%;
  height: 2em !important;
}

.end-btn{
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stamp-comment-area{
  width: 75%;
}

.register{
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-btn{
  width: 25%;

}

