@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;


/* bootstrap効かない */
.display-4{
  font-size: x-large;
  margin-bottom: 1em;
}

.mt-1 {
  margin-top: 1em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mt-3 {
  margin-top: 3em !important;
}

.mb-3 {
  margin-bottom: 3em !important;
}

/* standard */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
}

/* 打刻ページ */

.time-stamp .stamp-comment{
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;

}

.start-field{
  width: 40%;
  height: 2em !important;
}

.start-btn{
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-field{
  width: 40%;
  height: 2em !important;
}

.end-btn{
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.break-time-area{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stamp-break-time-area{
  width: 100px;
  text-align: center;
}

.stamp-comment-area{
  width: 75%;
}

.register{
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-btn{
  width: 25%;

}

/* /user/show */

.select-year{
  width: auto;
}

.select-month{
  width: auto;
}

.select-day{
  width: auto;
}

.display-btn{
  width: 40%;
}

/* footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*  表のデザイン */

table {
  margin-left: auto;
  margin-right: auto;
}

.table_design08 {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  /* max-width: 700px;*/
  text-align: center;
}
.table_design08 th, .table_design08 td {
  border: 2px solid #d2e8f1;
  padding: 0em;
  text-align: center;
}
.table_design08 thead th {
  background-color: #4d9bc1;
  color: #fff;
  border: 2px solid #4d9bc1;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.table_design08 thead th:last-of-type {
  border-right: 2px solid #4d9bc1;
}
.table_design08 tbody th {
  color: #4d9bc1;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 787px) {
  .table_design08 {
    text-align: left;
  }
  .table_design08 thead {
    display:none;
  }
  .table_design08 th, .table_design08 td {
    display: block;
    border: 0;
    border-bottom: 2px solid #e6f1f6;
  }
  .table_design08 tbody th{
    background: #4d9bc1;
    color:#fff;
  }
  .table_design08 td::before{
    content: attr(data-label);
    color: #4d9bc1;
    font-weight: bold;
    display: inline-block;
    width: 20%;
    min-width: 4em;
  }
}

/* ユーザー一覧 */
.select-department{
  width: auto;
}